### General ###
target/
.DS_Store
__MACOSX
data/
.gitattributes
__pycache__

### IDE ###
.vscode/
.metals/

### Scyros ###
ghtokens.csv
!tests/data

*.zip
*.tar.gz

result/filtered_languages.csv
fp_dataset/
projects/
env/
tot_projects/